.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin:0;
    padding :0;
    overflow-x: hidden;
    background: #F5F5F5;
}

/*navbar*/
nav {
    display: flex;
    padding: 24px 80px;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
}

.btn-primary {
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
    justify-content: center;
    align-items: center;
    color: #006A50;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;

}
.btn-primary:hover {
    background-color: #006A50; 
    color: #f0f0f0;           
    transform: scale(1.1); 
  }

/*hero-section*/
.banner {
    display: flex;
    justify-content: space-between;
    margin: 10px 80px;
    padding: 30px 40px 80px 40px;
    background-color: #C6E4D6;
    border-radius: 24px;
}

.banner-title {}

.img-1 {
    height: 380px;
    width: 380px;
    padding-left: 64px;

}

.dark-1 {
    color: rgba(14, 14, 14, 0.50);
    font-size: 24px;
    font-weight: 500;

}

.dark-2 {
    color: #0E0E0E;
    font-size: 50px;
    font-weight: 700;

}

.btn-primary-2 {
    border-radius: 8px;
    padding: 17px 34px;
    border: 1px solid #006A50;
    background: #006A50;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}
.btn-primary-2:hover {
    background-color: #f0f0f0; 
    color: #006A50;           
    transform: scale(1.1); 
  }

/*main */
.margin {
    margin: 60px 80px;
}

.section-title {
    color: #0E0E0E;
    font-size: 38px;
    font-weight: 700;
}

.pillars-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.pillar-info {
    padding: 15px 15px 0px 15px;
    width: 302px fixed;
    height: 244px auto;
    border-radius: 16px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
}

.title {
    padding-bottom: ;
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
    font-weight: 700;
}

.description {
    color: rgba(14, 14, 14, 0.70);
    font-size: 15px;
    font-weight: 400;
}

.img-2 {
    width: 64px;
    height: 64px;

}

.vision-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.three-vision {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 20px;
}

.btn-primary-3 {
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}
.btn-primary-3:hover {            
    transform: scale(1.1); 
  }
.younus {
    margin: 60px 80px;
    padding: 48px 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
}

.qus {
    border-radius: 16px;
    background-color: #FFF;
    padding: 25px;
}

.three-qus {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 15px;
}

.p-qus {
    color: #0E0E0E;
    font-size: 15px;
    font-weight: 500;
}

.btn-primary-4 {
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1.4px solid #0E0E0E;
    background: rgba(9, 161, 92, 0.15);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn-primary-4:hover {
    background-color: #006A50; 
    color: #FFF;           
    transform: scale(1.1); 
  }

.three-news {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 40px;

    gap: 32px;
    border-radius: 24px;
    background: #FFF;
}

.img-3 {
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

.btn-primary-5 {
    border-radius: 8px;
    background: #006A50;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    border: #006A50;
    cursor: pointer;
}
.btn-primary-5:hover {
    background-color: #f0f0f0; 
    color: #006A50;         
    transform: scale(1.1); 
  }

.margin-2 {
    margin: 40px 80px;
    align-items: ;
}

.donater-title {
    color: #0E0E0E;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.donate-descri {
    color: rgba(14, 14, 14, 0.70);
    text-align: center;
    padding: 10px 60px;
    font-size: 16px;
    font-weight: 400;
}

.four-taka {
    display: flex;
    padding: 10px 60px;
    justify-content: center;
    gap: 20px;
}

.taka {
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    color: rgba(14, 14, 14, 0.80);
    font-size: 35px;
    font-weight: 700;

}

.other-amount {
    margin: 20px 120px;
    padding: 20px 40px;
    text-align: center;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    color: rgba(14, 14, 14, 0.30);
    font-size: 20px;
    font-weight: 400;
}

.newsletter {
    padding: 100px;
    border-radius: 24px;
    background: #C6E4D6;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-p {
    color: rgba(14, 14, 14, 0.30);
    font-size: 16px;
    font-weight: 400;
    width: 600px;
    border-radius: 8px 0px 0px 8px;
    background: #FFF;
    padding: 11px 20px;
}
.ending{
    margin: 40px 0px 0px 0px;
    justify-items: center;
    align-items: center;
    box-sigin: border-box;
    background: #FFF;
    padding: 50px 160px;
    
}
.line {
    height: 1px;            
    background: #ccc;
    width: 100%;            
    margin: 20px 0;      
  }
  